<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Description</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody>
        
            @for ( book of books; track book.id){
                <tr [ngClass]="{'clearance': book.clearance}">
                    <td><img [src]="book.image" [alt]="book.name"></td>
                    <td>{{book.name}}</td>
                    <td>{{book.description}}</td>
                    <td>{{book.price | currency}}</td>
                    <td>
                        @if ( book.stock == 0){

                            <span class="badge text-bg-secondary stock">Sin Stock</span>
                        }
                        @else {
                            <span class="stock">{{book.stock}}</span>
                        }
                    </td>
                        <app-input-integer [(quantity)]= "book.quantity" [max]= "book.stock" *ngIf="book.stock>0" (maxReached)="maxReached($event)"> </app-input-integer>
                        <button class="btn" (click)="addToCart(book)">Comprar</button>
                </tr>
            }
          
      
    </tbody>
